h1 {
  font-size: 3.2rem;
  line-height: normal;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  line-height: normal;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  line-height: normal;
  font-weight: 700;
}

h4 {
  font-size: 1.8rem;
  line-height: normal;
  font-weight: 700;
}

p:not(:last-child) {
  padding-bottom: var(--p-spacing);
}

.text h1:not(:last-child) {
  padding-bottom: var(--p-spacing);
}

.text h2:not(:last-child) {
  padding-bottom: var(--p-spacing);
}

.text h3:not(:last-child) {
  padding-bottom: var(--p-spacing);
}

.text h4:not(:last-child) {
  padding-bottom: var(--p-spacing);
}

.text h5:not(:last-child) {
  padding-bottom: var(--p-spacing);
}

.text h6:not(:last-child) {
  padding-bottom: var(--p-spacing);
}

.text ul:not(:last-child),
.text ol:not(:last-child),
.text img:not(:last-child) {
  padding-bottom: var(--p-spacing);
}

.text strong {
  font-weight: 700;
}

.text a {
  text-decoration: none;
  position: relative;
  color: var(--secondary-color);
  transition: 300ms;
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.2rem no-repeat;
  background-position: left bottom;
}

.text a:hover {
  background-size: 100% 0.2rem;
  color: var(--secondary-color);
  opacity: 1;
}
