@layer base {
  html {
    font-size: 60%;
  }

  body {
    /* color: #1d428a; */
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
  }

  body.freeze {
    overflow: hidden;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
  }
}

@layer components {
  /* Top Left */
  .p-datatable-table > thead > tr:first-of-type > th:first-of-type {
    border-radius: var(--border-radius) 0 0 0;
  }

  /* Top Right */
  .p-datatable-table > thead > tr:first-of-type > th:last-of-type {
    border-radius: 0 var(--border-radius) 0 0;
  }

  .p-component,
  .p-component * {
    font-size: 100%;
  }

  /* Makes link hover nice */
  .link {
    padding: 0.3rem 0;
    cursor: pointer;
    width: fit-content;
    transition: 300ms;
    background: linear-gradient(currentColor, currentColor) bottom / 0 0.2rem no-repeat;
    background-position: left bottom;
  }

  .link:hover {
    background-size: 100% 0.2rem;
  }
}
