@forward './variables';
@forward './fonts';
@forward './main';
@forward './swiper';

// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Tailwind layering logic.
// This allows us to safely overwrite PrimeVue components using tailwind.
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

// Apply styling after tailwind classes here:
// Make all images pretty
img.format {
  @apply aspect-5/3 w-full h-full object-cover object-center;
}
