/*Forms*/
.ia_form {
  display: grid;
  gap: $gap_sm;

  .fields {
    display: grid;
    gap: $gap_xs;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    width: 100%;

    .field {
      grid-column: 1 / -1;
      min-width: 0;
      display: grid;

      & > label {
        padding-bottom: 0.3rem;
        font-size: 1.6rem;

        > span {
          color: $color_red;
        }
      }

      input:not([type='radio']):not([type='checkbox']),
      textarea,
      select {
        min-height: 0.1rem;
        height: fit-content;
        font-family: inherit;
        outline: none;
        line-height: inherit;
        border: 0.1rem solid transparent;
        background: #fff;
        padding: 1.2rem 1.5rem;
        border-radius: $border-radius;
        display: block;
        width: 100%;
        font-size: inherit;

        &:focus {
          border: 0.1rem solid $card_border_color;
        }

        &:disabled {
          opacity: 0.5;
        }
      }

      textarea {
        height: 15rem;
        resize: vertical;
      }

      .select {
        position: relative;
        select {
          appearance: none;
        }
        svg {
          pointer-events: none;
          position: absolute;
          top: 50%;
          width: 2rem;
          right: 1.5rem;
          transform: translateY(-50%);
        }
      }

      &.timepickerfield,
      &.datepickerfield {
        input:not([type='radio']):not([type='checkbox']) {
          padding: 1.2rem 4rem;
        }
      }
    }
  }

  .form_footer {
    justify-content: end;
    display: flex;
  }

  &.strong_labels {
    .field > label {
      font-weight: bold;
    }
  }

  &.active_labels {
    .field:not(.choicefield):not(.selectfield):not(.editorfield):not(.multiple) {
      position: relative;

      input:not([type='radio']):not([type='checkbox']),
      textarea {
        padding-top: 2rem;
        padding-bottom: 0.6rem;
      }

      & > label {
        position: absolute;
        top: 1.4rem;
        left: 1.5rem;
        z-index: 9;
        transition: 200ms;
        pointer-events: none;
      }

      &.timepickerfield,
      &.datepickerfield {
        & > label {
          left: 4rem;
        }
      }

      &.active {
        & > label {
          font-size: 70%;
          top: 0.2rem;
        }
      }
    }
  }
}

.ia_form .fields .field {
  &.span1 {
    grid-column: span 1;
  }

  &.span2 {
    grid-column: span 2;
  }

  &.span3 {
    grid-column: span 3;
  }

  &.span4 {
    grid-column: span 4;
  }

  &.span5 {
    grid-column: span 5;
  }

  &.span6 {
    grid-column: span 6;
  }

  &.span7 {
    grid-column: span 7;
  }

  &.span8 {
    grid-column: span 8;
  }

  &.span9 {
    grid-column: span 9;
  }

  &.span10 {
    grid-column: span 10;
  }

  &.span11 {
    grid-column: span 11;
  }

  &.span12 {
    grid-column: span 12;
  }

  @media only screen and (max-width: $screen-lm) {
    &.span3 {
      grid-column: span 6;
    }
    &.span4,
    &.span5,
    &.span6,
    &.span7,
    &.span8,
    &.span9,
    &.span10,
    &.span11 {
      grid-column: span 12;
    }
  }

  @media only screen and (max-width: $screen-sm) {
    &.span3 {
      grid-column: span 12;
    }
  }
}

.choicefield {
  ul {
    margin-bottom: 0.5rem;
    list-style: none;
    padding: 0;

    li {
      label {
        position: relative;
        cursor: pointer;
        left: 0;
        top: 0;
        padding-left: 3rem;

        &:before {
          content: '';
          width: 2rem;
          height: 2rem;
          border: 0.1rem solid #e2e4e5;
          position: absolute;
          left: 0;
          top: 50%;
          background-color: #fff;
          transform: translateY(-50%);
        }

        &:after {
          content: '';
          width: 1.2rem;
          height: 1.2rem;
          background-color: #1d428b;
          position: absolute;
          top: 50%;
          left: 0.4rem;
          line-height: 0;
          transition: 200ms;
          opacity: 0;
          transform: translateY(-50%) scale(0);
        }
      }

      input {
        position: absolute;
        visibility: hidden;

        &:checked + label:after {
          opacity: 1;
          transform: translateY(-50%) scale(1);
        }

        &:disabled:not(:checked) + label:before,
        &:disabled:checked + label:before {
          box-shadow: none;
          border-color: #bbb;
          background-color: #ddd;
        }

        &:disabled:checked + label:after {
          color: #999;
        }

        &:disabled + label {
          color: #aaa;
        }
      }
    }
  }
}

.radiofield {
  li label:before {
    border-radius: 10rem;
  }

  li label:after {
    border-radius: 10rem;
  }
}

.form_box {
  width: 100%;
  padding: 4rem;
  background-color: $color_light2;
  border-radius: $border-radius;
}
