@use './variables' as vars;

html {
  font-size: 60%;
  // Primevue uses this to control size
}

// Make datatable edges rounded
/* Top Left */
.p-datatable-table > thead > tr:first-of-type > th:first-of-type {
  border-radius: vars.$border-radius 0 0 0 !important;
}

/* Top Right */
.p-datatable-table > thead > tr:first-of-type > th:last-of-type {
  border-radius: 0 vars.$border-radius 0 0 !important;
}

.p-component,
.p-component * {
  font-size: 100%;
}

// Makes link hover nice
.link {
  padding: 0.3rem 0;
  cursor: pointer;
  width: fit-content;
  transition: 300ms;
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.2rem no-repeat;
  background-position: left bottom;

  &:hover {
    background-size: 100% 0.2rem;
  }
}

body {
  // color: #1d428a;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;

  &.freeze {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
