@forward './variables';
@forward './fonts';
@forward './main';
@forward './form';
@forward './swiper';

// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Tailwind layering logic.
// This allows us to safely overwrite PrimeVue components using tailwind.
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
